/*导航栏开始*/
nav{
	height: 7.5%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #48382b;
	box-sizing: border-box;
	padding: 7px;
	z-index: 10;
}
.switchScreen{
	width: 32%;
	margin: 0 auto;
	height: 100%;
}
.choScreen{
	width: 50%;
	height: 100%;
	float: left;
	padding: 9px 0 9px 20px;
	box-sizing: border-box;
	color: #99886b;
	font-size: 1rem;
}
#group{
	background: url(4.0FindGroupImages/leftHold.png) no-repeat;
	background-size: 100%;
	background-position: 0 4px;
}
#video{
	background: url(4.0FindGroupImages/rightActive.png) no-repeat;
	background-size: 100%;
	background-position: 0 4px;
}
/*导航栏结束*/


/*section开始*/
section{
	margin-top: 8px;
	background-color: #ebeae4;
}
section>ul{
	margin-top: 53px;
	overflow: auto;
}
section li{
	width: 100%;
	position: relative;
	background-color: white;

}
.title{
	width: 100%;
	height: 40px;
	position: relative;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 15px;
	color: white;
	vertical-align: middle;
	position: absolute;
	top: 0;
}
.titleMask{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background:url(4.0FindGroupImages/maskTitle.png) no-repeat;	
	background-size: 100%;
	opacity: 0.2;
	width: 100%;
}
.headPic{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 5px;
	float: left;
	font-weight: 500;
}
.clientWork{
	width: 100%;
}
.nickName{
	font-size: 1.1rem;
	font-size: 1.1rem;
	line-height: 1.1rem;
}
.postTime{
	font-size: 1rem;
	line-height: 1rem;
}
.colBtn{
	width: 35px;
	height: 22px;
	float: right;
	margin-top: 5px;
	position: absolute;
	top: 5px;
	right: 10px;
}
.foodName{
	margin-top: 9px;
	font-size: 1.2rem;
	line-height: 1.2rem;
	color: #292929;
	box-sizing: border-box;
	padding-left: 15px;
}
.foodDescript{
	color: #a1a1a1;
	font-size: 1.2rem;
	line-height: 1.2rem;
	padding: 5px 0 14px 15px;
	border-bottom:1px solid #dadada;
}
.bottomList{
	width: 100%;
	height: 54px;
	box-sizing: border-box;
	padding: 11px 15px 21px;
}
.likeBtn{
	width: 19px;
	height: 18px;
	float: left;
	margin-right: 6.5%;
}
.comment{
	width: 19px;
	height: 19px;
	float: left;
}
.moreInfor{
	width: 20px;
	height: 20px;
	float: right;
}
/*section结束*/


/*    footer    开始*/
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 47px;
	background-color: #48382b;
	padding-top: 8px;
	box-sizing: border-box;
}
footer>ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
footer p{
	margin-top: 5px;
	font-size: 1rem;
	color: #c3ad88;
	line-height: 1rem;
}
footer img{
	height: 18px;
}
footer a{
	display: block;
	overflow: hidden;
	text-align: center;
}
.homeBtn{
	width: 20px;
}
.marketBtn{
	width: 20px;
}
.food{
	width: 23px;
}
.find{
	width: 24px;
	height: 17px !important;
}
.person{
	width: 17px;
}

/*    footer    结束*/



